* {

	margin: 0px;
	padding: 0px
}
header .vv  {

	position: fixed;
	z-index: 999;
	width: 100%;
}

@media (max-width:575px) {
	header .vv {

		position: static;
	}


}




header .vv .mus {

	font-size: 2.5rem;
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 50px;
	color:black;
}
header .vv .mus:hover {

color: black

}

@media (max-width:575px) {
	header .mus {

		font-size: 2.5rem
	}


}


header .lin{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	
	

}

header .lin2{

	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	margin-left: 700px
	
	

}

@media (max-width:575px) {
	header .lin2 {

		margin-left: 0px
	}


}



.small{
	
	background-color: white;
	height: 50px;
	color: black;
	transition: 1s all
}
.top {

	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}

.one {

	background-image: url(../images/people-partying-close-up-photography-2705089.jpg);
	background-size: cover;


}

.one .p p {

	padding-top: 300px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 4.5rem;
	text-transform: capitalize;
	font-family: tahoma;
	color: white;

}

@media (max-width:575px) {
	.one .p p {

		font-size: 3rem
	}

}

.two img{
	
	height: 500px;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px

}
@media  (max-width:590px) {
	.two img {

		height: 400px;
		width: 280px;
		margin-top: 20px
	}

}

.two h1{
	
	margin-top: 150px;
	margin-bottom: 30px;
	font-family: cairo;
	font-weight: bold;
	text-transform: capitalize
}

.two p{
	
	color: #888;
	font-family: tahoma;
	text-transform: capitalize

	
	
}.two span{
	
	color: #888;
	font-family: tahoma;
	text-transform: capitalize
}

.three {
	
	background: #f8f8f8
}

.three h2{
	
	font-weight: bold;
	font-family: tahoma;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 50px
}

.three p{
 
	color: #888;
	text-align: center;
	margin-bottom: 50px
	
}

.three .text{
	
	margin-top: 40px;
	margin-bottom: 50px
}


.three .text  p{
	
	font-size: 1.1rem;
	font-weight: bold;
	font-family: cairo;
	text-transform: capitalize;
	margin-top: 40px;
	color: black;
	
}

.three .text span{
	
	color: #888
}

.four{
	margin-bottom: 50px
}

.four h4{
	
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 1.8rem;
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	text-align: center
}

.four p{
	
	font-family: cairo;
	text-transform: capitalize;
	font-weight: bold;
	text-align: center;
	color: #888;
	padding-bottom: 60px
}

.four .imgbx {

	height: 300px;
	width: 100%;
	overflow: hidden;
}

.four .imgbx img{
	
	height: 300px;
	width: 100%;
}

 .four .details h3{

	 text-align: center;
	 line-height: 20px;
	 color: black;
	 font-size: 1.5rem;
	 font-family: cairo;
	 font-weight: bold;
	 text-transform: capitalize;
	 margin-bottom: 30px;
      padding-top: 20px

}
 .four .details  span{
	 
	 font-size: 16px;
	 color: #888;
	 
	
}

footer {

	background: #403d38
}

footer .about h2 {

	font-family: Alegreya Sans;
	color: white;
	font-size: 1.5rem;
	text-transform: capitalize;
	margin-top: 60px
}

footer .about p {

	font-family: Alegreya Sans;
	color: #686868;
	margin-bottom: 90px;
	margin-top: 30px;
	font-size: 1.2rem
}

footer .why h2 {

	font-family: Alegreya Sans;
	color: white;
	font-size: 1.5rem;
	text-transform: capitalize;
	margin-top: 60px
}

footer .why ul {

	list-style: none;
	font-family: Alegreya Sans;
	color: #686868;
	margin-bottom: 90px;
	margin-top: 25px;
	line-height: 1.6;
	font-size: 1.2rem
}

footer .why ul li {

	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	margin-bottom: 6px;
	padding-bottom: 7px;
}



footer .open h2 {

	font-family: Alegreya Sans;
	color: white;
	font-size: 1.5rem;
	text-transform: capitalize;
	margin-top: 60px
}

footer .open ul {

	list-style: none;
	font-family: Alegreya Sans;
	color: #686868;
	margin-bottom: 90px;
	margin-top: 25px;
	line-height: 1.6;
	font-size: 1.2rem
}

footer .open ul li {

	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	margin-bottom: 6px;
	padding-bottom: 7px;
}


footer .contact h2 {

	font-family: Alegreya Sans;
	color: white;
	font-size: 1.5rem;
	text-transform: capitalize;
	margin-top: 60px
}

footer .contact ul {

	list-style: none;
	font-family: Alegreya Sans;
	color: #686868;
	margin-bottom: 90px;
	margin-top: 25px;
	line-height: 1.6;
	font-size: 1.2rem;

}

footer .contact ul li {

	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	margin-bottom: 6px;
	padding-bottom: 7px;
}





